.contacts__box {
  width: 440px;
  margin-right: 48px;
}

.contacts__box:last-of-type {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .contacts__box {
    max-width: 84%;
    margin: 0 auto;
  }
}