.banner__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 35px;
}

@media screen and (max-width: 425px) {
    .banner__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 19px;
        max-width: 85%;
        margin: 0 auto 20px;
    }
}