.options__item {
  background: rgba(0, 0, 0, 0.15);
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.options__item:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  transition: .2s;
}