.variant__textarea {
  width: 100%;
  border: none;
  color: var(--lightgray3);
  background: var(--lightgray1);
  font-size: 16px;
  height: 120px;
  margin-bottom: 24px;
  padding-left: 19px;
}

.variant__textarea::placeholder {
  color: var(--lightgray3);
}

@media screen and (max-width: 425px) {
  .variant__textarea {
    height: 50px;
    vertical-align: bottom;
  }
}