.variant__textarea {
  width: 100%;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background: #e5e5e5;
  font-size: 16px;
  height: 120px;
  margin-bottom: 24px;
  padding-left: 19px;
}

@media screen and (max-width: 425px) {
  .variant__textarea {
    height: 50px;
    vertical-align: bottom;
  }
}