.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 99;
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    min-height: 85vh;
}