/* .variants {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

@media screen and (max-width: 425px) {
    .variants {
        margin: 0;
        width: 100%;
    }
}