.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 14px;
    color: var(--white);
    align-items: flex-start;
}

@media screen and (max-width: 425px) {
    .footer__container {
        flex-direction: column;
        width: 84%;
    }
}