.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 504px;
    width: 100%;
    max-width: 760px;
    background-color: var(--color1);
    margin: 0 auto;
}

@media screen and (max-width: 425px) {
    .banner__text {
        padding: 32px 27px 0;
        margin: 0;
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        background-color: transparent;
    }
}