.status__block {
  background-color: var(--color5);
  padding: 10px 20px;
  position: relative;
  max-width: 420px;
  margin-right: 12px;
  min-height: 80px;
  box-shadow: 0px 0px 16px 8px rgba(55, 51, 77, 0.25);
}

.status__block:last-child {
  margin-bottom: 0;
}