.logo {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  max-width: 230px;
  position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  background-image: url(../../images/logo.svg);
  width: 67px;
  height: 71px;
  top: 15px;
  left: 160px;
}