.popup__content {
    width: 432px;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    padding: 68px 96px 34px 96px;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .popup__content {
        width: 100%;
        padding: 68px 0px 34px 0px;
    }
}