.button_options {
    margin-top: 112px;
    padding: 10px 30px;
    background: var(--blue);
    color: white;
    width: 160px;
}

.button_options:nth-child(2) {
    background: var(--yellow1);
    color: var(--darkgray1);
    width: 200px;
}

@media screen and (max-width: 425px) {
    .button_options.page-link {
        display: none;
    }
}