.button_options {
    margin-top: 224px;
    padding: 10px 70px;
    background: var(--color11);
    color: white;
}

.button_options:nth-child(2) {
    margin-top: 289px;
    margin-bottom: 72px;
}

@media screen and (max-width: 425px) {
    .button_options.page-link {
        display: none;
    }
}