.header {
  background: var(--color2);
  color: var(--color13);
  height: 80px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
}
