.initiative__text {
  box-sizing: border-box;
  width: 420px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .initiative__text {
    margin: 0 4px 0 0px;
  }
}