.button_initiative {
    margin-top: 58px;
    margin-bottom: 75px;
    width: 160px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color11);
    color: var(--color13)
}

@media screen and (max-width: 425px) {
  .button_initiative {
    display: none;
  }
}