.form__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 6px 20px 6px 60px;
  box-sizing: border-box;
  height: 50px;
  font-size: 12px;
  line-height: 12px;
  color: #504C67;
}
