.variant__input {
    width: 440px;
    background: var(--color5);
    font-size: 16px;
    line-height: 48px;
    border: none;
    color: var(--color7);
    padding-left: 19px;
}

.variant__input::placeholder {
    color: var(--color7);
}

@media screen and (max-width: 425px) {
    .variant__input {
      
    }
}