.variant__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}

@media screen and (max-width: 425px) {
    .variant__buttons {
        justify-content: space-around;
    }
}