@import url(./__textbox/variant__textbox.css);

.variant {
  background: #d5d5d5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 432px;
  box-sizing: border-box;
  padding: 10px 22px 15px 30px;
  position: relative;
  max-height: 170px;
}

.variant:nth-child(2) {
  margin-right: 0;
}