.description__item {
    width: 144px;
    background: rgba(0, 0, 0, 0.15);
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .description__item {
        width: 100%;
    }
}