.description__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  margin:20px 0;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .description__title {
    font-size: 28px;
    line-height: 38px;
    padding: 11px 0;
    margin-bottom: 53px;
    position: relative;
  }
  .description__title::after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-image: url(../../../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%);
  }
}
